# Git related files
.git
.gitgnore

# Docker related files
*.Dockerfile
docker-compose.yml
docker-compose.*.yml

# Config
config/certs/
*.key
*.crt
*.pem

# Docks
README.md

# Logs
logs/
*.log

# System files
.DS_Store
.idea/
.vscode/